:root{
    --primary: #234953;
    --dark: #21252f;
    --body: #888;
    --white: #ffffff;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}

body{
    font-family: "Sora", sans-serif;
}


i{
    color: whitesmoke;
}

.delete-btn, .edit-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.delete-btn i, .edit-btn i {
    color: red;
    margin-right: 5px;
}

.edit-btn i {
    color: green;
    margin-right: 5px;
}


a {
    text-decoration: none;
    color: white;
}

.navbar .logo{
width: 160px;
}

.navbar.nav-link{
font-size: 14px;
font-weight: 700;
}

.navbar{
box-shadow: var(--box-shadow);
overflow: hidden;
height: 80px;
display: flex;
justify-content: center;
align-items: center;
}


#logo-header{
    max-width: 80px;
}

#MainContainer{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#Exp-header{
    background-color: #2bd974;
    border-radius: 10px; 
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px; 
    margin-bottom: auto;
}
.circle {
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #2bd974;
    color: white;
    text-align: center;
    font-size: 80px;
    line-height: 110px;
    margin-left: 40%;
    margin-bottom: 10px;
    margin-top: 10px;
}
#current-day {
    display: inline-block;
    margin-right: 50px;
}

.modal-header {
    background-color: #2bd974;
    color: #fff;
}

.AddExpButton {
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    font-size:15px;
    border: none;
    background-color: #2bd974 !important; 
    border-radius: 7px; 
    padding: 10px; 
    color: white !important;
    margin-left: auto;
    margin-right: 5%;
}

.AddExpButton:hover {
background-color: #234953;
}
  
.mt-0 {
    color:grey; 
}
.col .mb-0 {
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}
.ViewAsButton{
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    font-size:15px;
    border: none;
    background-color: #2bd974; 
    border-radius: 7px; 
    color: white;
    margin-top: 10px;
}

#logo-footer{
    max-width: 150px;
}

.footer {
    background-color: rgba(35, 73, 83, 0.9);
    color:var(--white);
}